{{ form_start(form) }}
    {{ form_widget(form) }}
    {# Bouton Enregistrer généré dans le DestinationType #}
    {# <button class="btn">{{ button_label|default('Enregistrer') }}</button> #}
{{ form_end(form) }}
